@if(token) {
<div class="flex flex-col items-center gap-10 mt-6">
    <p class="text-center text-4xl font-bold my-8">Réinitialiser son mot de passe</p>
    @if(errorMessage()) {
        <p class="p-1 rounded-2xl px-4 text-error-content bg-error">{{ errorMessage() }}</p>
    }
    <form class="text-center" (ngSubmit)="clickPasswordReset()" [formGroup]="formPassword">
    <label class="relative" for="Password">
        <input 
            id="Password"
            type="password"
            class="peer mt-0.5 w-full rounded shadow-sm sm:text-sm outline-0 border-2 p-2"
            [class]=" (password.invalid && (password.dirty || password.touched)) ? 'border-error' : 'border-base300 focus:border-primary'"
            placeholder=""
            formControlName="password"
        />
        <span
            class="absolute inset-y-0 start-3 -translate-y-5 bg-base200 px-0.5 text-sm font-medium transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5"
        >Nouveau mot de passe</span>
        </label>
        @if (password.invalid && (password.dirty || password.touched)) {
            @switch (true) {
                @case (password.hasError('required')) {
                <span class="block text-red-600 text-sm">Veuillez entrer un mot de passe !</span>
                }
                @case (password.hasError('minlength')) {
                <span class="block text-red-600 text-sm">Au moins 8 caractères !</span>
                }
                @case (password.hasError('maxlength')) {
                <span class="block text-red-600 text-sm">Trop de caractères !</span>
                }
            }
        }
        @if(resetInProgress()) {
            <spinner></spinner>
        } @else {
            <button type="submit" [disabled]="formPassword.invalid || resetInProgress()" class="block mx-auto btn-primary cursor-pointer my-10 disabled:cursor-not-allowed">Envoyer</button>
        }
    </form>
  </div>
} @else {
<div class="flex flex-col items-center gap-10 mt-6">
    <p class="text-center text-4xl font-bold my-8">Réinitialiser son mot de passe</p>
    @if(errorMessage()) {
        <p class="p-1 rounded-2xl px-4 text-error-content bg-error">{{ errorMessage() }}</p>
    }
    @if(successMessage()) {
        <p class="p-1 rounded-2xl px-4 text-info-content bg-info">{{ successMessage() }}</p>
    }
    <form class="text-center" (ngSubmit)="clickSendEmail()" [formGroup]="formEmail">
        <label 
          class="relative"
          for="Email"
        >
          <input
            id="Email"
            type="email"
            class="peer mt-0.5 rounded shadow-sm sm:text-sm border-2 outline-0 p-2 lowercase"
            [class]=" (email.invalid && (email.dirty || email.touched)) ? 'border-error' : 'border-base300 focus:border-primary'"
            placeholder=""
            formControlName="email"
          />
          <span
            class="absolute inset-y-0 start-3 -translate-y-5 bg-base200 px-0.5 text-sm font-medium transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5"
          >
            Email
          </span>
        </label>
        @if (email.invalid && (email.dirty || email.touched)) {
          @switch (true) {
            @case (email.hasError('required')) {
              <span class="block text-red-600 text-sm">Veuillez entrer un e-mail !</span>
            }
            @case (email.hasError('email')) {
              <span class="block text-red-600 text-sm">Veuillez entrer un e-mail valide !</span>
            }
            @case (email.hasError('maxlength')) {
              <span class="block text-red-600 text-sm">Trop de caractères !</span>
            }
          }
        }
        @if(resetInProgress()) {
            <spinner></spinner>
        } @else {
            <button type="submit" [disabled]="formEmail.invalid || resetInProgress()" class="block mx-auto btn-primary cursor-pointer my-10 disabled:cursor-not-allowed">Envoyer</button>
        }
    </form>
  </div>
}