<div class="container md:max-w-[40rem] xl:max-w-[48rem] 2xl:max-w-[64rem] mx-auto p-2">
    <h2 class="text-center text-4xl font-bold my-8">NOUS CONTACTER</h2>

    <div class="flex flex-wrap justify-center gap-5">
        <a class="text-xl underline" target="_blank" href="https://www.instagram.com/eispri.stic">Instagram</a>
        <a class="text-xl underline" target="_blank" href="https://discord.gg/7hbnwsZuSv">Discord</a>
        <a class="text-xl underline" target="_blank" href="https://linktr.ee/bde_eispristic">Linktree</a>
    </div>

    <p class="my-8 text-xl">Pour toute demande relative à l'association ou au site : <a class="font-bold" href="mailto:asso.eispri.stic@gmail.com">asso.eispri.stic@gmail.com</a></p>
</div>