<div class="container mx-auto">
    <h2 class="text-4xl text-center m-6">Mentions légales</h2>
    
    <h3 class="text-3xl m-4">Identification de l'éditeur</h3>

    <p class="m-6">EISPRI_STIC, pour "Etudiant en Informatique de Savoie : Promouvoir, Rapprocher et Intégrer les Informaticiens de Science et Technologie de l'Information et des Télécommunication", association régie par la loi 1901. </p>
    <p class="m-4 text-xl">Adresse du siège social :</p>
    <p class="ml-8">GUIDE</p>
    <p class="ml-8">Batiment Tarentaise - Bureau 010</p>
    <p class="ml-8">Campus Scientifique</p>
    <p class="ml-8">Université de Savoie</p>
    <p class="ml-8">73376 BOURGET-DU-LAC CEDEX</p> 

    <p class="m-4">Adresse courriel : asso.eispri.stic@gmail.com</p>
    <p class="m-4">N° RNA : W732002743</p>

    <h3 class="text-3xl m-4">Directeur de publication</h3>
    <p class="m-4">« Au sens de l'article 93-2 de la loi n°82-652 du 9 juillet 1982 » : Monsieur Teva PHILIPPE, président </p>

    <h3 class="text-3xl m-4">Prestataires d'hébergement</h3>
    <p class="ml-8">ZAP-Hosting GmbH</p>
    <p class="ml-8">Hafenweg 8</p>
    <p class="ml-8">48155 Münster</p>
    <p class="ml-8">Germany</p>
    <p class="ml-8">tel: +4925114981189</p>
</div>
