<div class="container md:max-w-[40rem] xl:max-w-[48rem] 2xl:max-w-[64rem] mx-auto p-2">
    <h1 class="text-4xl my-6 font-extrabold">EISPRI STIC</h1>

    <h2 class="text-2xl font-bold my-4">Présentation</h2>
    
    <p><span class="font-bold">E</span>tudiant en <span class="font-bold">I</span>nformatique de <span class="font-bold">S</span>avoie : <span class="font-bold">P</span>romouvoir, <span class="font-bold">R</span>approcher et <span class="font-bold">I</span>ntégrer les <span class="font-bold">I</span>nformaticiens des <span class="font-bold">S</span>ciences et <span class="font-bold">T</span>echnologies de l'<span class="font-bold">I</span>nformation et des <span class="font-bold">C</span>ommunications est une association étudiante (BDE) qui a pour but de réunir les étudiants aimant l'informatique ainsi que leurs professeurs afin de mieux se connaître et pouvoir créer une bonne ambiance au sein de l'université.</p>
    
    <h2 class="text-2xl font-bold my-4">Le bureau de l'association</h2>
    <div class="my-4">
        <p class="ml-6 flex">
            <span class="min-w-[150px]">- Président</span>
            <span>Teva PHILIPPE</span>
        </p>
        <p class="ml-6 flex">
            <span class="min-w-[150px]">- Vice-président</span>
            <span>Eddy GUYON</span>
        </p>
        <p class="ml-6 flex">
            <span class="min-w-[150px]">- Trésorier</span>
            <span>Gabriel ESAT</span>
        </p>
        <p class="ml-6 flex">
            <span class="min-w-[150px]">- Vice-Trésorier</span>
            <span>Noah CUNEO</span>
        </p>
        <p class="ml-6 flex">
            <span class="min-w-[150px]">- Secrétaire</span>
            <span>Chloé FAUCON</span>
        </p>
        <p class="ml-6 flex">
            <span class="min-w-[150px]">- Vice-secrétaire</span>
            <span>Lohan HEBERT</span>
        </p>
        <img class="my-6" src="/assets/imgAsso/bureau.png" alt="Photo avec tout les membres du bureau de l'association">
    </div>
</div>