@import "tailwindcss";

@theme {
    --color-primary: oklch(38% 0.189 293.745);
    --color-primary-content: oklch(89% 0.057 293.283);

    --color-secondary: oklch(71% 0.203 305.504);
    --color-secondary-content: oklch(29% 0.149 302.717);

    --color-accent: oklch(90% 0.063 306.703);
    --color-accent-content: oklch(43% 0.218 303.724);

    --color-neutral: oklch(81% 0.111 293.571);
    --color-neutral-content: oklch(43% 0.232 292.759);

    --color-base100: oklch(96% 0.016 293.756);
    --color-base200: oklch(94% 0.029 294.588);
    --color-base300: oklch(89% 0.057 293.283);
    --color-base-content: oklch(28% 0.141 291.089);

    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(28% 0.091 267.935);

    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(26% 0.065 152.934);

    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);

    --color-error: oklch(64% 0.246 16.439);
    --color-error-content: oklch(27% 0.105 12.094);
}

@layer components {
    .btn-primary {
        @apply px-4 py-2 rounded-lg bg-primary text-primary-content hover:bg-primary/80 transition-colors duration-200 disabled:cursor-not-allowed;
    }
    .btn-secondary {
        @apply px-4 py-2 rounded-2xl border-2 border-base-content transition-colors duration-200 hover:bg-primary hover:text-primary-content hover:border-primary disabled:cursor-not-allowed; 
    }
    .btn-neutral {
        @apply px-4 py-2 rounded-2xl border-2 text-base-content border-neutral transition-colors duration-200 hover:bg-neutral hover:text-neutral-content disabled:cursor-not-allowed;
    }
}