<div class="text-center my-10 flex flex-row justify-center gap-4 flex-wrap">
  <button 
    (click)="SwitchTab('login')" 
    class="text-2xl px-7 md:px-20 py-2 disabled:border-b-blue-500 disabled:border-b-4 cursor-pointer disabled:cursor-default" 
    [disabled]="activeTab()==='login'">
    Connexion
  </button>
  <button 
    (click)="SwitchTab('register')" 
    class="text-2xl px-7 md:px-20 py-2 disabled:border-b-blue-500 disabled:border-b-4 cursor-pointer disabled:cursor-default" 
    [disabled]="activeTab()==='register'">
    Inscription
  </button>
</div>

<div>
@if(activeTab() === 'register') {
  <app-register (requestSuccess)="ReqSuccess()" />
}
@else {
  <app-login (requestSuccess)="ReqSuccess()" />
}
</div>